.horizontal {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 100px;
    float : left

}

* {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.3em;
    margin-left: 15px;
  }

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color : rgb(82, 7, 58)
}

.media-header {
    display: block;
    font-size: 1 em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color : rgb(90, 65, 105)
}

img{
    margin: 15px;
    background-color: rgb(208, 194, 248);

}

.media-image{
    background-color: rgb(124, 103, 182);

}