<h3>Popular Shows Airing Tonight</h3>
    <ol class="unstyled-list-group" *ngIf="liveShow2">
      <div *ngFor="let show of liveShow2">
        <li class="horizontal">
            <div class="grid-container">
                <div class="media-image">
                  <img src="{{ show.image }}"  alt="{{ show.name }}" /> 
                </div>
                <div class="media-header">
                  <div id="name">{{ show.name }}</div>
                </div>
            </div>
        </li>
      </div>
    </ol>
 
 
   
